<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FromAtoBe QA Challenge" verbose="5">
    <parameter name="environment" value="prod" />
    <parameter name="language" value="en"/>
    <parameter name="remote" value="0"/>
    <parameter name="browser" value="chrome"/>
    <test name="Smoke Tests">
        <classes>
            <class name="de.fromAtoB.login.LoginTest">
            </class>
            <class name="de.fromAtoB.search.SearchTripTest">
            </class>
        </classes>
    </test>
</suite>